/* /public/css/map.css */

body {
    padding-top: 56px;
    background-image: url("../../public/images/paperbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

.sidebar_custom {
    height: calc(100vh - 56px);
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
}

.sidebar_left{
	height: calc(100vh - 56px);
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
}

.sidebar_right{
	height: calc(100vh - 56px);
    position: fixed;
    top: 60px;
    right: 0;
    width: 250px;
}

#map-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
}

#map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.draggable {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: grab;
    transition: transform 0.1s ease;
}

.draggable:active {
    cursor: grabbing;
}

.list-group-item {
    cursor: pointer;
}

.draggable-container {
	position: 'absolute';
	width: '50px';
	height: '50px';
	top: '50%';
	left: '50%';
}

.position-text {
	position: 'absolute';
	top: '0';
	left: '0';
	width: '100%';
	textAlign: 'center';
	color: 'white';
	background: 'rgba(0, 0, 0, 0.5)';
	fontSize: '10px';
}